fastapi
uvicorn
pydantic
numpy
pypdf
fastembed
groq
python-dotenv
python-multipart
pinecone-client
openai
motor 
passlib[bcrypt] 
pyjwt 
python-multipart
ragas 
datasets 
pandas 
langchain-groq 
langchain-community
google-genai
# --- Add the following LlamaIndex dependencies ---
llama-index-llms-google-genai 
llama-index-embeddings-google-genai 
google-genai
llama-index-core
llama-index-vector-stores-pinecone